{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-9">
    <br>  
    <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/062.webp" class="card-img-top" alt="Chicago Skyscrapers"/>
      <div class="card-body">
        <h5 class="card-title">{{ object.title }}</h5>
        <p class="card-text">{{ object.content }}</p>

        {% if is_liked %}
        <a class="btn" href="{% url 'myapp:addlike' object.pk %}" style="background-color:#13ae4b; color:white">
          Liked
        </a>
        {% else %}
        <a class="btn" href="{% url 'myapp:addlike' object.pk %}" style="background-color:#FF6699; color:white">
          Like
        </a>
        {% endif %}
        </a>

        {% if user.is_authenticated and object.author == user %}
        <div>
          <br>
          <a href="{% url 'myapp:post_update' object.pk %}" type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark">
            Edit
          </a>
          <a href="{% url 'myapp:post_delete' object.pk %}" type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">
            Delete
          </a>
        </div>
        {% endif %}        
    </div>
  </div>
</div>
{% endblock %}